
/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: rgb(39, 39, 39);
    text-decoration: none;
}

/* Seções */
/* Hero Section */
.hero {
    background-image: url(../img/funrealdasardinha.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; /* Ajusta a altura do hero */
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    text-align: center;
    padding: 0 20px;
}

.hero-content {
    max-width: 600px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e64a19;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

/* Imagens */
.galeria img {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
